{% extends 'base.html' %}
{% load static %}

{% block title %}{{ title|title }}{% endblock %}

{% block css %}
	{{ block.super }}
	<link rel="stylesheet" type="text/css" href="{% static 'mainapp/style.css' %}">
{% endblock %}

{% block js  %}

<script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
<script src="{% static 'mainapp/js/main_scripts.js' %}"></script>

{% endblock  %}

{% block menu %}
		<div class="hero-white">
			{% include 'includes/inc_main_menu.html' %}
		</div>
{% endblock %}
{% block content %}

		<div class="details">
            {% include 'includes/inc_products_list_content.html' %}
        </div>

{% endblock %}
